In [14]:
import pandas as pd
import dpath
import json
import swifter

/home/seif/.local/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
class StreetTreeType:
    """

    """

    def __init__(self, dataset_file_path):
        """

        :param dataset_file_path:
        """
        self.dataset = self.load_dataset(dataset_file_path)

    @staticmethod
    def load_dataset(file_path):
        """

        :param file_path:
        :return:
        """
        with open(file_path) as fh:
            content = json.load(fh)
        return content

    def __is_short(self, path):
        """

        :param path:
        :return:
        """
        try:
            if dpath.get(self.dataset['short'], path):
                return True
        except KeyError:
            return False

    def __is_tall(self, path):
        """

        :param path:
        :return:
        """
        try:
            if dpath.get(self.dataset['tall'], path):
                return True
        except KeyError:
            return False

    def get_street_type(self, street_name):
        """

        :param street_name:
        :return:
        """
        parts = street_name.strip().split(' ')
        path = '/'.join(parts[-1::-1])
        if self.__is_short(path):
            return 'short'
        elif self.__is_tall(path):
            return 'tall'
        return 'n/a'

In [4]:
dataset_path = 'dublin-trees.json'
street_trees_dataset = StreetTreeType(dataset_path)

In [5]:
df = pd.read_csv('dublin-property.csv', encoding='windows-1252')

In [6]:
df.head()

,Date of Sale (dd/mm/yyyy),Address,Street Name,Price
0,1/1/2015,"APT 274, THE PARKLANDS, NORTHWOOD",the park,"€ 79,500.00"
1,5/1/2015,"61 CHARLEMONT, GRIFFITH AVE, DUBLIN 9",charlemont,"€ 557,000.00"
2,6/1/2015,"6A Church Street, Finglas, Dublin 11",church street,"€ 160,000.00"
3,6/1/2015,"APARTMENT 13 MOUNTGORRY WOOD, MALAHIDE ROAD, S...",malahide road,"€ 140,000.00"
4,7/1/2015,"15 THE TANNERY, 50 CORK ST, DUBLIN 8",cork street,"€ 200,000.00"

In [10]:
df['Price'] = df.Price.replace({'€': '', ',': ''}, regex=True).astype(float)

In [16]:
# df['type'] = df['Street Name'].apply(street_trees_dataset.get_street_type)
df['type'] = df['Street Name'].swifter.apply(lambda row: street_trees_dataset.get_street_type(row))

Pandas Apply: 100%|█████████████████████████████████████████████████████████████| 13346/13346 [00:09<00:00, 1372.62it/s]

In [11]:
df.head()

,Date of Sale (dd/mm/yyyy),Address,Street Name,Price,type
0,1/1/2015,"APT 274, THE PARKLANDS, NORTHWOOD",the park,79500.0,short
1,5/1/2015,"61 CHARLEMONT, GRIFFITH AVE, DUBLIN 9",charlemont,557000.0,tall
2,6/1/2015,"6A Church Street, Finglas, Dublin 11",church street,160000.0,short
3,6/1/2015,"APARTMENT 13 MOUNTGORRY WOOD, MALAHIDE ROAD, S...",malahide road,140000.0,short
4,7/1/2015,"15 THE TANNERY, 50 CORK ST, DUBLIN 8",cork street,200000.0,short

In [12]:
df.loc[df["type"] ==  'short', "Price"].mean()

488981.6592828445

In [13]:
df.loc[df["type"] ==  'tall', "Price"].mean()

587800.3856725664